html {
    margin: 0;
    padding: 0;
}
body{

    overflow: hidden;
}

video {
    top:0;
    left:0;
    width:1080px;
    height: 1920px;
}

body.weboss.webos-signage-1.portrait video,
body.weboss.webos-signage-2.portrait video,
body.weboss.webos-signage-1.portrait-ccw video,
body.weboss.webos-signage-2.portrait-ccw video {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px!important;
    height: 100%;
}
 @font-face {
      font-family: "Turkcell Satura Med";
      src: url({{TURKCELL_FONT}});
  }

.overlay{

    position:absolute;
    top:200px;
    left:390px;
    color: #FFC72C;

    z-index:1;



    /*opacity: 0;*/
}
.overlay h1 {
    position:relative;
    /*top:-500px;*/
    background: transparent none repeat scroll 0 0;
    font-family: "Turkcell Satura Med";
    font-size: 1000%;
    /*-webkit-transition:all 1s linear;*/
    /*-moz-transition:all 1s linear;*/
    /*-o-transition:all 1s linear;*/
    /*transition:all 1s linear;*/
    -webkit-transform: translate3d(0,-500,0);
    -moz-transform: translate3d(0,-500,0);
    transform: translate3d(0,-500,0);

    /*color: #FFC72C;*/
}

